absl-py==0.4.1
affine==2.2.1
astor==0.7.1
attrs==18.2.0
certifi==2018.11.29
chardet==3.0.4
click==6.7
click-plugins==1.0.4
cligj==0.4.0
cloudpickle==0.5.6
cycler==0.10.0
dask==0.19.2
decorator==4.3.0
faiss==1.4.0
Fiona==1.7.13
gast==0.2.0
grpcio==1.15.0
h5py==2.8.0
idna==2.7
imageio==2.4.1
Keras==2.2.2
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
lxml==4.6.3
Markdown==2.6.11
matplotlib==2.2.3
mkl-fft==1.0.6
mkl-random==1.0.1
munch==2.3.2
networkx==2.2
numpy==1.15.2
opencv-python==4.0.0.21
pandas==0.23.4
Pillow==5.3.0
progressbar2==3.38.0
protobuf==3.6.1
pydensecrf==1.0rc3
PyGraph==0.2.1
PyMaxflow==1.2.11
pyparsing==2.2.1
python-dateutil==2.7.3
python-utils==2.3.0
pytz==2018.5
PyWavelets==1.0.0
PyYAML==3.13
rasterio==1.0.4
requests==2.19.1
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
Shapely==1.6.4.post2
six==1.11.0
sklearn==0.0
snuggs==1.4.2
tensorboard==1.10.0
tensorflow==1.10.1
tensorlayer==1.10.1
termcolor==1.1.0
toolz==0.9.0
tqdm==4.25.0
urllib3==1.23
Werkzeug==0.14.1
wrapt==1.10.11
